*{
    box-sizing: content-box;
}

body{
    background-color:green;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

figure{
    margin:0;
    text-align: center;
}

.menu{
    height: inherit;
    display: flex;
    align-items: center;
}

.menu ul{
    margin:0;
    padding:0;
    list-style: none;
    height:100%;
}

.header{
    width: 100%;
}

.header-container{
    color:white;
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.header-container ul{
    display: flex;
    flex-wrap: wrap;
    height: inherit;
}

.header-container ul li{
    height: inherit;
    text-decoration: none;

}

.header-container a {
    text-decoration: none;
    color: white;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:0 10px;
}

.hero{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    overflow: hidden;
}

.hero-image{
    width: 100%;
    border-radius: 200px;
    margin: 50px 0;
}

.hero-image-wrap{
    max-width: 400px;
}

.hero-title{
    max-width:600px;
    color:white;
    margin:50px;
    align-items: center;
    text-shadow: 1px 2px 2px #000; /*Interesting tip for highlight text*/
}

.hero-title-wrap{
    display:flex;
    align-items: center;
}

.background-hero{
    position: absolute;
    z-index: -1;
    bottom:-200px;
}

.portfolio{
    text-align: center;
}

.portfolio-title{
    color:white;
}

.project{
    margin:0 50px;
    margin-bottom:25px;
    text-align: left;
    border: 3px solid gray;
    background-color: whitesmoke;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.project-image{
    width: 100%;
}

.project-imageWrap{
    margin: 1em;
    max-width:300px;
}

.project-titleWrap{
    max-width: 300px;
    overflow: hidden;
    padding:1em;
    font-size: 24px;
}

.project-title{
    font-size: 1.2em;
}

.project-course{
    font-size: 0.8em;
}

.project-date,.project-url,.project-description{
    font-size: 0.6em;
}

.experience{
    text-align: center;
    margin:0 50px 50px;
}

.experience-title{
    color: white;
}

.list-events{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.event{
    border-radius: 15px;
    max-width: 400px;
    overflow:hidden;
    background-color: gray;
    padding-bottom: 20px;
    margin:0 20px 20px;
}

.event img{
    max-width: 400px;
    height:200px;
    object-fit: cover;
}

.event-detail{
    background-color: whitesmoke;
    margin:10px 20px;
    margin-top: -40px;
    padding:10px;
    position: relative;
}

.event-title{
    margin:0;
}

.event-url{
    color:dodgerblue;
    text-decoration: none;
    border:1px solid dodgerblue;
    padding:3px 12px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact{
    color: white;
    padding:100px;
    background-color: darkgreen;
    height: 100px;
}

.form-email {
    max-width: 300px;
}

.form-email input{
    width: 100%;
    border-color:gray;
    border-style:solid;
    border-radius:5px;
    padding: 5px 20px 5px 25px;
}

.form-email button{
    display: block;
    background: green;
    color: white;
    padding:10px 25px;
    border-radius: 5px;
    max-width: 100px;
    margin-top: 10px;
}

.footer{
    background-color: black;
}
/*
.menu ul li{
    height:100%;
    display:inline-block;
    background-color: darkred;

}

.menu ul li a{
    list-style: none;
    text-decoration: none;
    color:white;
    font-size: 1em;
    margin-top:auto;
    margin-bottom: auto;
} */

